<%- include ('header',{pagetitle:'Fooldal'})-%>
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">Főoldal</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Életkor
                    </th>
                    <th>
                        Nem
                    </th>
                    <th>
                        Cicák száma
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                <% for (key in gazdik){ var gazdi = gazdik[key] %>
                    <tr>
                        <td>
                            <%= gazdi.name %>
                        </td>
                        <td>
                            <%= gazdi.age %>
                        </td>
                        <td>
                            <%= gazdi.sex %>
                        </td>
                        <td>
                            <%= gazdi.numofcats %>
                        </td>
                        <td>
                            <a href="/gazdi/<%= gazdi._id %>" class="btn"><i class="bi bi-pencil-fill"></i></a>
                            <a href="/gazdi/<%= gazdi._id %>/delete" class="btn"><i class="bi bi-trash-fill"></i></a> 
                        </td>
                    </tr>
                <%}; %> 
                </tr>

            </table>
        </div>
        <div class="col-12">
            <a href="/newgazdi" class="btn btn-primary">Új gazdi</a>
        </div>
    </div>
</div>
<%- include('footer')-%>