<%- include('header',{pagetitle:'Felhasznaloi fiok'})-%>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/">Főoldal</a>
    </nav>

    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="col-12">
                
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Név:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="name" name="name" value="<%= gazdi.name %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="age" class="col-sm-2 col-form-label">Életkor:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control-plaintext" id="age" name="age"value="<%= gazdi.age %>">
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="sex" class="col-sm-2 col-form-label">Nem:</label>
                            <div class = "col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sex" id="woman" value="Nő" <%if(gazdi.sex == "Nő"){ %>checked<%}%>>
                                    <label class="form-check-label" for="woman">Nő</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sex" id="man" value="Férfi"<%if(gazdi.sex == "Férfi"){ %>checked<%}%>>
                                    <label class="form-check-label" for="man">Férfi</label>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
            <h2>Cicák:</h2>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>
                                Név
                                </th>
                                <th>
                                    Életkor
                                </th>
                                <th>
                                    Szín
                                </th>
                                <th>
                                    Nem
                                </th>
                                <th>
                                    Kedvenc játék
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                    </tr>
                    <% for (key in cicak){ var cica = cicak[key] %>
                        <tr>
                            <td>
                                <%= cica.name %>
                            </td>
                            <td>
                                <%= cica.age %>
                            </td>
                            <td>
                                <%= cica.color %>
                            </td>
                            <td>
                                <%= cica.sex %>
                            </td>
                            <td>
                                <%= cica.game %>
                            </td>
                            <td>
                                <a href="/cica/<%= gazdi._id %>/<%= cica._id %>" class="btn"><i class="bi bi-pencil-fill"></i></a>
                                <a href="/cica/<%= gazdi._id %>/<%= cica._id %>/delete" class="btn"><i class="bi bi-trash-fill"></i></a> 
                            </td>
                        </tr>
                    <%}; %> 
                </table>
            </div>
            <div class="col-12">
                <a href="/newcica/<%= gazdi._id %>" class="btn btn-primary">Új cica</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Mentés</button>
                <a href="/" class="btn btn-secondary">Mégse</a>
            </div>
        </div>
        </form>
    </div>
    <%- include('footer')-%>